# Wildcard patterns.
*.swp
nimcache/
*.db*

# Specific paths
/createdb
/forum
/nimforum.db

# Binaries
forum
createdb
editdb

.vscode
browsertester
setup_nimforum
buildcss
nimforum.css

/src/frontend/forum.js

public/
forum.ini*